Release/
local/
Debug/
simpleSamples/
sample_ray.exe
ray.vcxproj*
ray.vcproj*
ray.dsp
ray.dsw
ray.ncb
ray.opt
ray.plg
ray.sdf
ray.sln*
ray.suo*
ray.opensdf
ray.v12*
.gitattributes
UpgradeLog.*
rayFiles/